.App {
    display: flex;
    justify-content: center;
    background-color: #2C2525;
    color: white;
    min-height : 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } 
  input{
    border :none;
    border-radius: 15px;
    border-color: white;
    margin-left: 10px;
  }

  .todo{
    margin-top: 50px;
    border-color: whitesmoke;
    height: 80vh;
    border: 2px solid white;
    border-radius: 5px;
    padding :10px;

  }
  .todo >h1{
    text-align: center;
  }
  
  .addbtn{
    margin-left: 10px;
  }

  .slot{
    display:flex;
    flex-direction: row;
    background-color: rgb(25, 163, 187);
    margin-top: 10px;
    border-radius: 5px;
    justify-content: space-between;
  }
  